.padre {
    width: 150px;
    height: 150px;
    background: yellow;
    
    /* IMPORTANTE */
    display: table;
  }
  
  .hijo {
    /* IMPORTANTE */
    display: table-cell;
    
    text-align: center;
  }